<div class="background">

<%= link_to "Add a Pal", new_animal_path, class: "btn btn-info btn-md my-3 ml-2"  %>

<div class="container-index">
  <div class="row mt-5 mb-5">
    <!-- <div class="d-flex justify-content-between"> -->
      <% @animals.each do |animal| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card-animal mt-3">
          <div class="card-image">
            <%= cl_image_tag animal.photo, height: 200, crop: :fit%>
          </div>
          <div class="card-info">
            <h3><%= animal.name %></h3>
            <p><%= animal.description %></p>
            <div class="card-button">
              <%= link_to "Meet your Pal", animal_path(animal), class: "btn btn-outline-info btn-sm" %>
            </div>
          </div>
          <!-- <img src="https://images.pexels.com/photos/1232152/pexels-photo-1232152.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
