<div class="background-index">
  <div class="map-layout d-flex">


<div class="container">
  <div class="search-form d-flex justify-content-around mr-2 mt-3">
  <%= form_tag animals_path, method: :get, class: "form-row" do %>

<div class="form-group mr-3 form-label">
  <%= label_tag 'Type:' %>
  <%= select_tag :animal_type, options_for_select(Animal::TYPES), prompt: "Type", options: {value:  params[:animal_type]},
  class: "form-control search-bar" %>
</div>
<div class="form-group mr-3 form-label">
  <%= label_tag 'Size:' %>
  <%= select_tag :size,  options_for_select(Animal::SIZES),prompt: "Size",
  class: "form-control search-bar" %>
</div>
<div class="form-group mr-3 form-label">
  <%= label_tag 'Energy Level:'%>
  <%= select_tag :energy,  options_for_select(Animal::ENERGY), prompt: "Energy Level",
  class: "form-control search-bar" %>
</div>
<div class="form-group form-label">
  <%= label_tag 'Animal Location:' %>

  <%= select_tag :location,  options_for_select(Animal.all.pluck(:location)), prompt: "Location",
  class: "form-control search-bar" %>
</div>

 <%= submit_tag value="ðŸ”", class: "submit-button"%>
<% end %>
</div>
<%# link_to "Add a Pal", new_animal_path, class: "btn btn-info btn-md my-3 ml-2"  %>
  <div class="row mt-5 mb-5" id="card">
    <!-- <div class="d-flex justify-content-between"> -->
      <% @animals.each do |animal| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial: 'card', locals: { animal: animal } %>
      </div>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
</div>
