 <div class="background">
  <h1 class="booking-header" id="animal-header"><%=@animal.name%></h1>
  <div class="container-index">
    <div class="row d-flex">
      <!-- <div class="col-xs-12 col-sm-6 col-md-3 d-flex"> -->

        <div class="animal-photo">
          <%= cl_image_tag @animal.photo, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="animal-info">
          <ul class="animal-list"><strong>Get to know me:</strong></ul>
            <p class="animal-desc"><%= @animal.description %></p>
          <p><strong>Type of Animal: </strong><%= @animal.animal_type %></p>
          <p><strong>Size of Animal: </strong><%= @animal.size %></p>
          <p><strong>Craziness level: </strong><%= @animal.energy %></p>
        </div>

        <div class="animal-edit">
          <p> <%= link_to "Book your Pal!", new_animal_booking_path(@animal), class: "btn btn-info btn-md btn-block" %></p>
        <div class="animal-changes">
          <%#= @Animal.picture %>
          <% if policy(@animal).edit? %>
          <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-outline-info" %>
          <% end %>

          <% if policy(@animal).destroy? %>
          <%= link_to "Delete", animal_path(@animal),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-outline-info" %>
          <% end %>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
