 <div class="background">
  <h1 class="booking-header" id="animal-header"><%=@animal.name%></h1>
  <div class="container-index">
    <div class="row d-flex">
      <!-- <div class="col-xs-12 col-sm-6 col-md-3 d-flex"> -->

        <div class="animal-photo">
          <%= cl_image_tag @animal.photo, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="animal-info">
          <ul class="animal-list"><strong>Get to know me:</strong></ul>
          <p class="animal-desc"><%= @animal.description %></p>
          <p><strong>Type of Animal: </strong><%= @animal.animal_type %></p>
          <p><strong>Size of Animal: </strong><%= @animal.size %></p>
          <p><strong>Craziness level: </strong><%= @animal.energy %></p>
          <div class="d-flex justify-content-start ml-2">
            <div class="p-2">
              <% if policy(@animal).edit? %>
              <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-outline-info" %>
              <% end %>
            </div>
            <div class="mr-auto p-2">
              <% if policy(@animal).destroy? %>
              <%= link_to "Delete", animal_path(@animal),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-outline-info" %>

              <% end %>
            </div>
          </div>
        </div>

        <div class="animal-edit">
          <br>
          <%= form_tag new_animal_booking_path(@animal), method: :get do  %>
          <div class="white-box">
           <p><%= text_field_tag :start_date, params[:start_date], as: :string, required: false, class: "datepicker", id: "start_input", placeholder: "Pick-up" %>  <i class="fas fa-arrow-right"></i>  <%= text_field_tag :end_date, params[:start_date], as: :string, required: false, class: "datepicker", placeholder: "Drop-off", id: "start_input" %></p>
         </div>

         <p><%= button_tag  "Book your Pal!", class: "btn btn-info btn-md btn-block" %></p>
         <% end %>
       </div>
     </div>
   </div>
   <div class="d-flex justify-content-around align-center offset-2 review-container">
     <div id="reviews">
      <% if @animal.reviews.blank? %>
      Be the first to leave a review for <%= @animal.name %>
      <% else %>
      <div class="review-scroll">
      <h2>Reviews:</h2>
      <% @animal.reviews.each do |review| %>
      <% review.rating.times do %>
      <i class="fas fa-star" id="rating-star"></i>
      <% end %>
      <p> <%= review.content %></p>

      <% end %>
      <% end %>
      </div>
      </div>
      <div class="rating-form">
        <%= simple_form_for([ @animal, @review ]) do |form| %>
        <%= form.input :rating, collection: (1..5).to_a, as: :select %>
        <%= form.input :content, as: :text %>
        <%= form.button :submit, class: "btn btn-info btn-md btn-block" %>
        <% end %>
      </div>



  </div>
</div>


